AWS_DEFAULT_REGION=eu-central-1
# shellcheck disable=SC2046,SC2183
vault status >/dev/null 2>&1 || {
  echo "Please run: vault-login-staging"
  exit 1
}
json=$(vault read -format json development/aws/sts/downloads | jq -r '.data')
AWS_ACCESS_KEY_ID=$(jq -r '.access_key' <<< "$json")
AWS_SECRET_ACCESS_KEY=$(jq -r '.secret_key' <<< "$json")
AWS_SESSION_TOKEN=$(jq -r '.security_token' <<< "$json")
export AWS_DEFAULT_REGION AWS_ACCESS_KEY_ID AWS_SECRET_ACCESS_KEY AWS_SESSION_TOKEN
export S3_BUCKET=downloads-cdn-eu-central-1-staging
export CIRRUS_BUILD_ID=1234
