export AWS_CONFIG_FILE="${PWD}/aws_sso_profiles.conf"
export AWS_PROFILE="${TARGET:-staging}"
export S3_BUCKET="downloads-cdn-eu-central-1-$AWS_PROFILE"
export CIRRUS_BUILD_ID=1234

echo
echo "Authenticate to AWS with the following commands:"
echo "$ aws sso login --sso-session sonar"
echo
