name: Deploy

on:
  workflow_dispatch:

jobs:
  generate-update-center-prod:
    runs-on: github-ubuntu-latest-s
    environment: production
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup Mise
        uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          version: 2025.7.12
      - name: Vault Secrets
        id: secrets
        uses: SonarSource/vault-action-wrapper@545e7cfbb5528e7009a1edcc83e073898d292627 # v3.2.0
        with:
          secrets: |
            development/artifactory/token/{REPO_OWNER_NAME_DASH}-public-reader access_token | ARTIFACTORY_ACCESS_TOKEN;
            development/kv/data/repox url | ARTIFACTORY_URL;
            development/aws/sts/downloads access_key | AWS_ACCESS_KEY_ID;
            development/aws/sts/downloads secret_key | AWS_SECRET_ACCESS_KEY;
            development/aws/sts/downloads security_token | AWS_SESSION_TOKEN;
      - name: Generate and Upload Update Center Metadata
        run: |
          source po-generate-update-center-prod/generate.sh
          source po-generate-update-center-prod/prepare_transfer_dir.sh
          po-generate-update-center-prod/upload.sh
        env:
          AWS_ACCESS_KEY_ID: ${{ fromJSON(steps.secrets.outputs.vault).AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ fromJSON(steps.secrets.outputs.vault).AWS_SECRET_ACCESS_KEY }}
          AWS_SESSION_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault).AWS_SESSION_TOKEN }}
          S3_BUCKET: downloads-cdn-eu-central-1-prod
          AWS_DEFAULT_REGION: eu-central-1
          ARTIFACTORY_ACCESS_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault).ARTIFACTORY_ACCESS_TOKEN }}
          ARTIFACTORY_URL: ${{ fromJSON(steps.secrets.outputs.vault).ARTIFACTORY_URL }}
